
<div class = "container">
	<div class = "jumbotron">
		<h1 style ="color: white" class = "indexheading">Ajey Gampawar</h1>
		<p style = "color: white" class = "indexparagraph">Marathi Literature Enthusiast | Anchor | Aesthetic Writer</p>

	</div>
</div>
