<div class = "container">
	<div class = "col-sm-offset-2">
		<h1>New Customer</h1>
	</div>

<p><br></p> 
<%= render 'form' %>


<%= link_to 'Back to customers listing', customers_path,  class: 'btn btn-warning btn-sm' %>
</div>