
<p>
  <strong>Job name: </strong>
  <%= project.jname %>
</p>
<p>
  <strong>Job Description: </strong>
  <%= project.jdescription %>
</p>
<p>
  <strong>Price: </strong>
  <%= project.price %>₹
</p>
<p>
  <%= link_to 'Destroy Project', [project.customer, project],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
