@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


footer{
	margin-top: 45px;
	padding-top: 5px;
	margin-bottom: 50px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.copyright {
	float: left;
}

.developed {
	float: right
}

.totalsales{
  
  td {
	padding-left: 10x;
	padding-right: 20px;
	}
	
}

