// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {

	background:url('/assets/background_index.jpg') center;
	height: 650px;
	background-repeat:no-repeat;
	background-size: cover;
	overflow: hidden;

}

.indexheading {
	padding-top: 230px;
}

.paragraphheading {
	font-family: TypeWolf;
}