// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {

	background:image-url('background_index_2.jpg') center;
	height: 650px;
	background-repeat:no-repeat;
	background-size: cover;
	overflow: hidden;

}

.indexheading {
    
	padding-top: 200px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.paragraphheading {
	font-family: TypeWolf;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}