
<div class = "container">
	<footer class = "footer-pdf">
		<small class = "copyright-pdf">
			Copyright &copy; <strong>Ajey Gampawar</strong> 2017 
		</small>
		<small class ="developed-pdf">
			Software Developed By <strong>Shubham Uttarwar</strong>
		</small>
	</footer>
</div>