<!DOCTYPE HTML>
<html>
<head>
 <title></title>
 <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
 <link rel = "stylesheet" type = "text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.class">
 <meta charset = "utf-8">
</head>
<body>
	<div class = "container">
   		<%= yield %>
   	</div>
   <!-- 	<div class = "container">
	<footer class = "footer">
		<small class = "copyright">
			Copyright &copy; <strong>Ajey Gampawar</strong> 2017 
		</small>
		<small class ="developed">
			Software Developed By <strong>Shubham Uttarwar</strong>
		</small>
	</footer>
</div> -->
</body>
</html>